@import url('https://fonts.googleapis.com/css2?family=Open+Sans+Condensed:wght@300;700&family=Roboto+Condensed:wght@300;400;700&display=swap');

body {

    box-sizing: border-box;
    margin: 0;
    padding: 0;
    /* font-family: 'Anton', sans-serif; */
    font-family: 'Barlow', sans-serif;

}


.top .navbar ul li a {

    color: white;
    font-family: 'Roboto Condensed', sans-serif;
    font-weight: 600;
    font-size: 1.25rem;

}

.top span {

    color: white;
    padding: 0.625rem;
}

.top img {

    height: 2.8125rem;
}

.top .dropdown-menu a:hover {

    color: #414141 !important;


}

.navbar {

    /* overflow: hidden; */
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 100;
}

.dropdown-menu {

    background-color: #ffc107;

}

.dropdown-item:focus,
.dropdown-item:hover {

    color: #414141 !;

}

#navbarDropdownMenuLink {

    transition: all 0.3s ease-in-out;

}

.navbar::before {
    /* background-color: #14253f; */
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
    opacity: 0.2;
}

.navbar-nav {

    margin-left: 5.3125rem;
}

.top .nav-link:hover {

    color: #414141 !important;
}

.top .nav-link {

    padding-left: 1.875rem !important;
    transition: all 0.3s ease-in-out;
}

.header {

    background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url(../images/header1.jpg) no-repeat center center/cover;
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
    color: white;
    display: flex;
}

.header h5 {

    /* color: #fae016; */
    font-size: 1.875rem;
    font-family: 'Roboto Condensed', sans-serif;
    font-weight: 800;

}

.header h3 {

    font-size: 3.75rem;
    font-weight: 800;
}

.header p {

    font-family: 'Roboto Condensed', sans-serif;
    font-size: 1.25rem;
}

.header h3 span {

    color: #ffc107;
    margin-left: 0.625rem;
    font-weight: 800;
}

.header_content {

    margin-top: 30vh;
}

.header_content h3 {

    display: flex;


}

.header_content p {
    margin-top: 2%;
    display: flex;
    width: 50%;
}

.header_buttons {

    display: flex;

}

.header h1 {

    color: white;
}

.header>p {

    color: white;
}

/* button start */

.btn-sm.orange {
    position: relative;
    color: #fff;
    border-radius: 1.875rem;
    transform: scale(1.1, 1.1);
    transition: all 0.3s ease-out 0s;
    /* margin-top: 10%; */
}

.btn-sm.orange:hover {
    transform: scale(1, 1);
    color: #fff;
}

.btn-sm.orange i {
    margin-right: 0.9375rem;
    color: #fff;
}

.btn-sm.orange:before {
    content: "";
    position: absolute;
    bottom: -0.5rem;
    left: 0;
    width: 100%;
    height: 0.625rem;
    filter: blur(1.25rem);
    border-radius: 1.875rem;
    display: inline-block;
    z-index: -1;
    transition: all 0.3s ease-out 0s;
}

.btn-sm.orange:hover:before {
    bottom: 0;
    filter: blur(0.625rem);
}

.btn-sm.orange {
    background: linear-gradient(to left, #fe8c00, #f83600);
}

.btn-sm.orange:before {
    background: linear-gradient(to right, #fe8c00, #f83600);
}

@media only screen and (max-width: 767px) {
    .btn-sm {
        margin-bottom: 0.9375rem;
    }
}

/* button end */

/* preloader start */

.preloader {
    background-color: #f7f7f7;
    width: 100%;
    height: 100%;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 999999;
    -webkit-transition: .6s;
    -o-transition: .6s;
    transition: .6s;
    margin: 0 auto
}

.preloader .preloader-circle {
    width: 100px;
    height: 100px;
    position: relative;
    border-style: solid;
    border-width: 1px;
    border-top-color: #ff5f13;
    border-bottom-color: transparent;
    border-left-color: transparent;
    border-right-color: transparent;
    z-index: 10;
    border-radius: 50%;
    -webkit-box-shadow: 0 1px 5px 0 rgba(35, 181, 185, 0.15);
    box-shadow: 0 1px 5px 0 rgba(35, 181, 185, 0.15);
    background-color: #ffffff;
    -webkit-animation: zoom 2000ms infinite ease;
    animation: zoom 2000ms infinite ease;
    -webkit-transition: .6s;
    -o-transition: .6s;
    transition: .6s
}

.preloader .preloader-circle2 {
    border-top-color: #0078ff
}

.preloader .preloader-img {
    position: absolute;
    top: 50%;
    z-index: 200;
    left: 0;
    right: 0;
    margin: 0 auto;
    text-align: center;
    display: inline-block;
    -webkit-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
    padding-top: 6px;
    -webkit-transition: .6s;
    -o-transition: .6s;
    transition: .6s
}

.preloader .preloader-img img {
    max-width: 80px
}

.preloader .pere-text strong {
    font-weight: 800;
    color: #dca73a;
    text-transform: uppercase
}

@-webkit-keyframes zoom {
    0% {
        -webkit-transform: rotate(0deg);
        transform: rotate(0deg);
        -webkit-transition: .6s;
        -o-transition: .6s;
        transition: .6s
    }

    100% {
        -webkit-transform: rotate(360deg);
        transform: rotate(360deg);
        -webkit-transition: .6s;
        -o-transition: .6s;
        transition: .6s
    }
}

@keyframes zoom {
    0% {
        -webkit-transform: rotate(0deg);
        transform: rotate(0deg);
        -webkit-transition: .6s;
        -o-transition: .6s;
        transition: .6s
    }

    100% {
        -webkit-transform: rotate(360deg);
        transform: rotate(360deg);
        -webkit-transition: .6s;
        -o-transition: .6s;
        transition: .6s
    }
}

/* preloader end */

/* our services */

.about img {

    /* height: 500px; */
    object-fit: cover;
}


.services h3 {

    display: flex;
    justify-content: center;
    text-transform: uppercase;
    font-family: 'Open Sans Condensed', sans-serif;
    font-weight: 1000;
    font-size: 2rem;
    color: rgb(65, 65, 65);
}

.service_content h3 {

    display: flex;
    justify-content: center;
    text-transform: uppercase;
    font-family: 'Open Sans Condensed', sans-serif;
    font-weight: 1000;
    font-size: 2rem;
    color: rgb(65, 65, 65);
}

h3.background {
    position: relative;
    z-index: 1;
}

h3.background::before {
    content: "";
    margin: 0 auto;
    position: absolute;
    top: 50%;
    left: 0;
    right: 0;
    bottom: 0;
    width: 50%;
    z-index: -1;
}

.double span {
    background: #fff;
    padding: 0 0.9375rem;
}

h2.double:before {
    border-top: none;
}

h3.double::after {
    border-bottom: 0.0625rem solid orangered;
    -webkit-box-shadow: 0 0.0625rem 0 0 red;
    -moz-box-shadow: 0 0.0625rem 0 0 red;
    box-shadow: 0 0.0625rem 0 0 red;
    content: "";
    margin: 0 auto;
    position: absolute;
    top: 45%;
    left: 0;
    right: 0;
    width: 50%;
    z-index: -1;
}

.service_content h3.background {
    position: relative;
    z-index: 1;
}

.service_content h3.background::before {
    content: "";
    margin: 0 auto;
    position: absolute;
    top: 50%;
    left: 0;
    right: 0;
    bottom: 0;
    width: 70%;
    z-index: -1;
}

.service_content .double span {
    background: #fff;
    padding: 0 0.9375rem;
}

.service_content h2.double:before {
    border-top: none;
}

.service_content h3.double::after {
    border-bottom: 0.0625rem solid orangered;
    -webkit-box-shadow: 0 0.0625rem 0 0 red;
    -moz-box-shadow: 0 0.0625rem 0 0 red;
    box-shadow: 0 0.0625rem 0 0 red;
    content: "";
    margin: 0 auto;
    position: absolute;
    top: 45%;
    left: 0;
    right: 0;
    width: 70%;
    z-index: -1;
}


.services_card {

    border-radius: 0.625rem;
    margin-left: 3.125rem;
    height: 400px;
    -webkit-box-shadow: 0px 1rem 4.5625rem -1.5625rem rgba(173, 173, 173, 1);
    -moz-box-shadow: 0px 1rem 4.5625rem -1.5625rem rgba(173, 173, 173, 1);
    box-shadow: 0px 1rem 4.5625rem -1.5625rem rgba(173, 173, 173, 1);
}

.services_card h4 {

    /* text-decoration: underline; */
    font-family: 'Roboto Condensed', sans-serif;
    color: #414141;
    font-weight: 600;
    height: 4.0625rem
}

.services_card img {

    height: 31.5vh;
    object-fit: cover;
}

.btn_services {

    background: #ff5f13;
    color: white;
}

.carousel-control-prev .fa {
    font-size: 3.125rem;
    z-index: 99;
}

/* owl carousel in index */

.owl-carousel {

    z-index: -1;
    margin-top: 5%;
}


.owl-carousel .owl-stage-outer {

    height: 440px;


    /* padding: 50px; */

}

/* document section */

.legal h3 {

    display: flex;
    justify-content: center;
    text-transform: uppercase;
    font-family: 'Open Sans Condensed', sans-serif;
    font-weight: 1000;
    font-size: 2rem;
}

.legal .row {

    margin: 5% 0 5% 0;
}

/* text color */

.text_grey {
    color: #414141;
}

.owl-prev {

    width: 3.125rem;
    height: 3.125rem;
    background-color: white !important;
    box-shadow: 0.1875rem 0.875rem 1.5625rem -0.625rem #92b4d0;
    text-align: center;
    border-radius: 6.25rem !important;


}

.owl-next {

    width: 3.125rem;
    height: 3.125rem;
    background-color: white !important;
    box-shadow: 0.1875rem 0.875rem 1.5625rem -0.625rem #92b4d0;
    text-align: center;
    font-size: 1.875rem;
    margin-left: 1.875rem;
    border-radius: 6.25rem !important;


}

.owl-nav {

    display: flex;
    justify-content: center;
    margin-top: 3%;

}

.owl-nav button {

    background: none;
    color: inherit;
    border: none;
    padding: 0;
    font: inherit;
    cursor: pointer;
    outline: inherit;
}

.owl-dots {

    margin-top: 3%;
}

.owl-dots button {
    background: none;
    color: inherit;
    border: none;
    padding: 0;
    font: inherit;
    cursor: pointer;
    outline: inherit;
}


.owl-nav span {
    font-size: 1.875rem;
    padding: 0.625rem;
}

.owl-theme .owl-controls .owl-page {
    display: inline-block;
}

.owl-theme .owl-controls .owl-page span {
    background: none repeat scroll 0 0 #869791;
    border-radius: 3.125rem;
    display: block;
    height: 0.75rem;
    margin: 0.3125rem 0.4375rem;
    opacity: 0.5;
    width: 0.75rem;
}

/* about */

.card {

    border: none;
}

.about {

    margin-top: 10%;
    transition: all 0.3s ease-in-out;
    scroll-behavior: smooth;
}

.about h5 {

    font-size: 3.4375rem;
    color: rgb(65, 65, 65);
    font-family: 'Anton', sans-serif;


}

.about p {

    font-family: 'Roboto Condensed', sans-serif;
    color: #414141;
    font-size: 1.25rem;
}

.about_detail h3 {

    font-size: 3.4375rem;
    color: rgb(65, 65, 65);
    font-family: 'Anton', sans-serif;

}

.about_detail p {

    font-family: 'Roboto Condensed', sans-serif;
    color: #414141;
    font-size: 1.25rem;
}

/* safety */

.safety_detail {

    margin: 7% 0 5% 0;
}

.safety_detail ul {

    margin-left: 0.9375rem;
    padding: 0;
}

.safety_detail ul li {

    font-family: "Roboto Condensed", sans-serif;
    color: rgb(65, 65, 65);
    font-size: 1.25rem;
}

.safety_detail h3 {

    font-family: 'Anton', sans-serif;
    font-size: 4.0625rem;
    color: rgb(65, 65, 65);
}

.safety_detail img {

    padding: 6.25rem 0 0 0;
}


/* project nav */

.projects {

    background: linear-gradient(rgb(5, 5, 46), rgba(0, 0, 0, 0.5)), url(https://images.unsplash.com/photo-1485083269755-a7b559a4fe5e?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=750&q=80) no-repeat center center/cover;
    content: "";
    /* position: absolute; */
    top: 0;
    left: 0;
    width: 100%;
    /* height: 90vh; */
    z-index: -1;
    color: white;
    display: flex;
    margin-top: 5%;
    scroll-behavior: smooth;
}

.projects .client {

    margin-left: 3.125rem;
}

.projects .work {

    margin-left: 2.8125rem;
}

.projects .site {

    margin-left: 6.8125rem;
}

.projects .contract {

    margin-left: 2.125rem;
}

.projects .vendor {

    margin-left: 3.6875rem;
}

.projects h3 {

    display: flex;
    justify-content: center;
    text-transform: uppercase;
    font-family: 'Open Sans Condensed', sans-serif;
    font-weight: 1000;
    font-size: 2rem;
    color: rgb(120, 159, 220);
}

.project_details {

    padding: 7.5rem 4.375rem 7.5rem 0;
    height: 40vh;
}

.project_details h2 {

    display: flex;
    /* text-transform: uppercase; */
    font-family: 'Open Sans Condensed', sans-serif;
    color: rgb(120, 159, 220);
    font-weight: 700;
}

.project_title {

    display: flex;
    justify-content: center;
    text-transform: uppercase;
    font-family: 'Open Sans Condensed', sans-serif;
    margin-top: 3%;
}

.projects p {

    /* padding: 0 80px 0 0; */
    color: #789fdc;
}

.projects .container .type {

    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    margin-top: 3%;
}

.projects img {

    width: 100%;
    height: 35rem;
    padding: 7.5rem 4.375rem 7.5rem 7.5rem;
    object-fit: cover;
}

.projects .type a {

    display: inline;
    margin-left: 3.125rem;
}

.projects_about {

    margin-top: 5%;
}

.projects_about .col-md-4 {

    padding: 1.25rem;
}

.projects_about .card {

    padding: 0.625rem;

    -webkit-box-shadow: 0 1rem 4.5625rem -1.5625rem rgba(173, 173, 173, 1);
    -moz-box-shadow: 0 1rem 4.5625rem -1.5625rem rgba(173, 173, 173, 1);
    box-shadow: 0 1rem 4.5625rem -1.5625rem rgba(173, 173, 173, 1);
}

/* testimonials start */

.testimonials {

    margin-bottom: 10%;
}

.testimonials h3 {

    text-transform: uppercase;
    font-family: 'Anton', sans-serif;
}

.controls-top .fa {

    font-size: 3.125rem;
}

.controls-top .fa-angle-left {

    float: left;
}

.controls-top .fa-angle-right {

    float: right;
}

/* estimonials end */

/* footer start */
.page-footer {

    background: #070b11;
}

footer p {

    /* font-weight: 50; */
    font-family: 'Roboto Condensed', sans-serif;
    color: #545963 !important;

}

.footer_para {
    width: 70%;
}

.btn-floating {

    background-color: #ff5f13;
    color: white;
    -webkit-box-shadow: 0.625rem 0.9375rem 1.3125rem -0.0625rem rgba(0, 0, 0, 1);
    -moz-box-shadow: 0.625rem 0.9375rem 1.3125rem -0.0625rem rgba(0, 0, 0, 1);
    box-shadow: 0.625rem 0.9375rem 1.3125rem -0.0625rem rgba(0, 0, 0, 1);
}

.fa {

    transition: .8s ease-in-out;
    -webkit-transition: .8s ease-in-out;
}

.fa:hover {

    transform: rotatey(360deg);
    -webkit-transform: rotatey(360deg);
}

.footer_link a {

    color: #545963 !important;
    text-decoration: none;
    transition: .8s ease-in-out;
    -webkit-transition: .3s ease-in-out;
}

.footer_link a:hover {

    font-size: 1.25rem;
    color: #ff5f13 !important;
}

footer h3 {

    color: white;
}

/* footer end */

/* legal */

.flip-card-front img {

    width: 350px;
    height: 27.7vh;
    border-radius: 0.625rem;

}

.flip-card {
    background-color: transparent;
    width: 350px;
    height: 27.7vh;
    perspective: 1000px;
    border-radius: 0.625rem;
}

.flip-card-inner {
    position: relative;
    width: 100%;
    height: 100%;
    transition: transform 0.6s;
    transform-style: preserve-3d;
    box-shadow: 0 0.25rem 0.5rem 0 rgba(0, 0, 0, 0.2);
    border-radius: 0.625rem;
}

.flip-card:hover .flip-card-inner {
    transform: rotateY(180deg);
}

.flip-card-front,
.flip-card-back {
    position: absolute;
    width: 100%;
    height: 100%;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
}



.flip-card-back {
    color: white;
    transform: rotateY(180deg);
    border-radius: 0.625rem;
    padding: 0.9375rem;
}

.flip-card-back p {

    font-size: 0.9375rem;
}

.legal_back {

    background: url(../images/legal_back.png) no-repeat center center/cover;
}

.manage_back {

    background: url(../images/manage_back.png) no-repeat center center/cover;
}

.bank_back {

    background: url(../images/bank_back.png) no-repeat center center/cover;
}

.legal .legal_company {
    margin-left: 0.8rem;
}

.legal .legal_cat {

    margin-left: 3.3rem;
}

.legal .legal_sub_cat {

    margin-left: 1.4rem;
}

.legal .legal_gst {

    margin-left: 4.5rem;
}

.legal .manage_director {

    margin-left: 1rem;
}

.legal .manage_mob {

    margin-left: 4.1rem;
}

.legal .manage_email {

    margin-left: 6.1rem;
}

.legal .bank_name {

    margin-left: 3rem;
}

.legal .bank_account {

    margin-left: 4.3rem;
}

.legal .bank_ifsc {

    margin-left: 3.3rem;
}

.legal .bank_user {

    margin-left: 5.1rem;
}


/* imp certificate */

.imp_certificate img {

    width: 100%;
    height: 700px;

}

/* team member table */

.team_members h3 {

    display: flex;
    justify-content: center;
    text-transform: uppercase;
    font-family: 'Open Sans Condensed', sans-serif;
    font-weight: 1000;
    font-size: 2rem;
    color: rgb(65, 65, 65);
}

.team_members table {

    margin-top: 5%;
    margin-bottom: 5%;

}

.team_members thead th {

    background-color: orangered;
    color: white;
}

/* our team start */
.team {
    text-align: center;
    margin-top: 5%;
}

.section {
    padding: 3.75rem 0;
}

.section-title {
    display: flex;
    justify-content: center;
    text-transform: uppercase;
    font-family: 'Anton', sans-serif;
    margin-bottom: 3%;
}

.team .team-item {
    text-align: left;
    margin-bottom: 1.875rem;
}

.team .team-item figure {
    position: relative;
    overflow: hidden
}

img {
    max-width: 100%
}

.team .team-item figure figcaption {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    opacity: 0;
    background: rgba(9, 9, 9, .6);
    -webkit-transition: all .5s ease;
    -moz-transition: all .5s ease;
    transition: all .5s ease
}

.team .team-item figure figcaption .info {
    position: absolute;
    color: #fff;
    float: left;
    bottom: 0.625rem;
    left: 1.25rem;
    margin-left: -5rem;
    -webkit-transition: all .5s ease;
    -moz-transition: all .5s ease;
    transition: all .5s ease
}

.team .team-item figure:hover figcaption {
    opacity: 1
}

.team .team-item figure:hover figcaption .info {
    margin-left: 0
}

.team .team-item figure figcaption .info h3 {
    font-size: 1.25rem
}

.team .team-item figure figcaption .info p {
    color: #fff
}

.team .team-item figure:hover figcaption .social {
    margin-bottom: 0
}

.team .team-item figure figcaption .social {
    position: absolute;
    float: right;
    bottom: 28px;
    margin-bottom: -5rem;
    right: 1.25rem;
    -webkit-transition: all .5s ease;
    -moz-transition: all .5s ease;
    transition: all .5s ease
}

.team .team-item figure figcaption .social a {
    color: #fff;
    font-size: 0.9375rem;
    width: 36px;
    height: 36px;
    background: #3f51b5;
    display: inline-block;
    text-align: center;
    line-height: 36px;
    border-radius: 0.125rem
}

/* our team end */

/* counter start */

.col_half {
    width: 49%;
}

.col_third {
    width: 32%;
}

.col_fourth {
    width: 30%;
}

.col_fifth {
    width: 18.4%;
}

.col_sixth {
    width: 15%;
}

.col_three_fourth {
    width: 74.5%;
}

.col_twothird {
    width: 66%;
}

.col_half,
.col_third,
.col_twothird,
.col_fourth,
.col_three_fourth,
.col_fifth {
    position: relative;
    display: inline;
    float: left;
    margin-right: 3%;
    margin-bottom: 1.25rem;
}

.end {
    margin-right: 0 !important;
}

.noCounter {
    margin-top: 10%;
    font-family: verdana;
    padding: 0.625rem;
    background: #14253f;
    color: white;
    height: 30vh;
    border-radius: 3.75rem 0.625rem 3.75rem 0.625rem;

    /* text-align: center; */
}

.wrapper {
    margin: 1.875rem auto;
    position: relative;
}

.count-title {
    font-size: 66px;
    font-weight: bold;
    margin-top: 0.625rem;
    margin-bottom: 0;
    text-align: center;
}

.count-text {
    font-size: 18px;
    font-weight: light;
    margin-top: 0.625rem;
    margin-bottom: 0;
    text-align: center;
}

.fa-2x {
    margin: 0 auto;
    float: none;
    display: table;
    color: #4ad1e5;
}

/* counter end */

/* buttons start */

.btn_email {

    width: 7.5rem;
    background: orangered;
    border: none;
    color: white;
    font-size: 18px;
}

.header_buttons a {

    border: 0.125rem solid orangered;
    width: 180px;
    text-decoration: none;
    color: orangered;
    display: flex;
    justify-content: center;
    padding: 0.5rem;
    font-size: 1.375rem;
    border-radius: 0.625rem;
    transition: all 0.3s ease-in-out;
}

.header_buttons a:hover {

    background-color: orangered;
    color: white;

}

/* buttons end */



/* equipment page start */

.equipments {

    margin-top: 40%;
}

#equ1_h img {
    width: 31.5vh;
    height: 25.25vh;
    object-fit: cover;
}

.breaker {

    display: block;
    margin: auto;
}

.equipment_header {

    background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url(../images/header3.jpg) no-repeat center center/cover;
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
    color: white;
    display: flex;
}

.equipment_header h3 {

    font-size: 3.75rem;
    font-weight: 800;
}

.equipment_header span {

    color: #ffc107;
    margin-left: 0.5rem;
}

.equipments thead tr {

    background-color: orangered;
    color: white;
}

/* equipment page end */

/* services page start*/

.services_header {

    background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url(../images/header2.jpg) no-repeat center center/cover;
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
    color: white;
    display: flex;
}

.serve_header {

    background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url(../images/header4.jpg) no-repeat center center/cover;
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
    color: white;
    display: flex;
}

.serve_header h3 {

    font-size: 3.75rem;
    font-weight: 800;
}

.serve_header span {

    color: #ffc107;
    margin-left: 0.5rem;
}

.services_header h3 {

    font-size: 3.75rem;
    font-weight: 800;
}

.services_header span {

    color: #ffc107;
    margin-left: 0.5rem;
}

.services_header p {
    font-family: 'Roboto Condensed', sans-serif;
    /* color: #414141; */
    font-size: 1.25rem;
}

.services_image {

    display: flex;
    justify-content: center;
    padding-top: 3.125rem 0 0 3.125rem;
}

.service_content span {
    float: left;
    padding: 0 1.25rem 0 0;

}

.service_content span img {

    height: 50vh;
}

.service_carousel {

    /* padding: 10px 6.25rem 30px 6.25rem; */
    height: 100vh
}

.carousel-control-next {

    color: black;
}

.services_in {

    margin-top: 40%;
    overflow: visible;
}

.team_quote {

    padding: 6.25rem;
    font-size: 1.375rem;
}

.service_content img {

    width: 100%;
    height: 500px;
    object-fit: cover;
    margin-top: 5%;
}

.service_content h2 {

    margin-top: 5%;
}

.service_carousel {

    height: fit-content;
    margin-bottom: 5%;
}

.service_carousel p {

    font-family: 'Roboto Condensed', sans-serif;
    color: #414141;
    font-size: 1.25rem;
}

.next_inner {

    width: 1.25rem;
    height: 1.25rem;
    padding: 1.25rem;
    margin: 0.5rem 0 0 0.125rem;

}

.prev_outer {

    border: 0.125rem solid white;
    border-radius: 1.875rem;
    height: 3.75rem;
    width: 3.75rem;
    -webkit-box-shadow: 0.25rem 0.4375rem 1.875rem -0.3125rem rgba(0, 0, 0, 0.75);
    -moz-box-shadow: 0.25rem 0.4375rem 1.875rem -0.3125rem rgba(0, 0, 0, 0.75);
    box-shadow: 0.25rem 0.4375rem 1.875rem -0.3125rem rgba(0, 0, 0, 0.75);
}

.prev_inner {

    width: 1.25rem;
    height: 1.25rem;
    padding: 1.25rem;
    margin: 0.5rem 0.125rem 0 0;
}

.next_outer {

    border: 0.125rem solid white;
    border-radius: 1.875rem;
    height: 3.75rem;
    width: 3.75rem;
    -webkit-box-shadow: 0.25rem 0.4375rem 1.875rem -0.3125rem rgba(0, 0, 0, 0.75);
    -moz-box-shadow: 0.25rem 0.4375rem 1.875rem -0.3125rem rgba(0, 0, 0, 0.75);
    box-shadow: 0.25rem 0.4375rem 1.875rem -0.3125rem rgba(0, 0, 0, 0.75);
}

/* .services_image img {

    width: 100%;
    height: 90vh;
    padding: 5% 0 0 0;
    object-fit: cover;
}

#service1 {
    display: block;
}

#service2 {
    display: none;
} */

/* services page end */

/* project part start */

.project_header {
    background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url(https://images.unsplash.com/photo-1429497419816-9ca5cfb4571a?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=500&q=60) no-repeat center center/cover;
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
    color: white;
    display: flex;

}

/* quote box */
.quote {
    text-align: center;
    font-size: 1.6rem;
    margin: auto;
    padding: 0.9375rem;
    border: 0.125rem solid tomato;
    max-width: 85%;
    position: relative;
    margin-bottom: 6.25rem;
    /* margin-top: 6.25rem; */
    font-family: 'Roboto Condensed', sans-serif;

}

blockquote {
    color: black;
    font-style: italic;
    position: relative;
    padding: 1.875rem;
    z-index: 20;
}

.left {
    position: absolute;
    top: -3.125rem;
    left: -1.25rem;
    width: 150px;
    text-align: left;
    z-index: 10;
    font-size: 5rem;
    color: tomato;
    background-color: white;
    line-height: 25.25vh;
}

.right {
    position: absolute;
    bottom: -3.125rem;
    right: -1.25rem;
    width: 150px;
    text-align: right;
    z-index: 10;
    font-size: 5rem;
    color: tomato;
    background-color: white;
    line-height: 25.25vh;
}

.small {
    font-size: 1.7rem;
    color: tomato;
    position: relative;
    z-index: 20;
}

.small::before {
    content: "\2014 \0020";
    width: 0.3125rem;
}

/* staff diagram */

.staff img {

    padding-top: 5%;
    padding-bottom: 5%;
    display: block;
    margin: auto;
    height: 94.6vh;
}

.staff h3 {

    display: flex;
    justify-content: center;
    text-transform: uppercase;
    font-family: 'Open Sans Condensed', sans-serif;
    font-weight: 1000;
    font-size: 2rem;
    color: rgb(65, 65, 65);
}


/* project part end */

/* contact us start */

.contact iframe {

    margin-top: 70vh;
}

.contact input {

    margin-top: 3%;
    height: 3.125rem;
}

.contact h3 {

    margin-top: 5%;
    font-family: 'Anton', sans-serif;
    letter-spacing: 0.0625rem;

}

.contact_header {

    background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url(../images/header5.jpg) no-repeat center center/cover;
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
    color: white;
    display: flex;
}

.contact_header h3 {

    font-size: 3.75rem;
    font-weight: 800;
}

.contact_header span {

    color: #ffc107;
    margin-left: 0.5rem;
}

.contact_header p {
    font-family: 'Roboto Condensed', sans-serif;
    /* color: #414141; */
    font-size: 1.25rem;
}

.conatct textarea {

    font-family: 'Roboto Condensed', sans-serif;
}

.contact input {
    font-family: 'Roboto Condensed', sans-serif;
}

.contact .orange {

    margin: 5% 0 5% 0;
}



/* contact us end */

/* about page start */


/* features */

.about_detail {

    margin-top: 5%;
}

.about_detail h3 {

    display: flex;
    /* justify-content: center; */
    font-family: 'Anton', sans-serif;
    font-size: 3.125rem;
}

.about_detail img {

    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 4.375rem;
}

/* .about_feature h3:first-child {

    display: flex;
    justify-content: center;
}

.about_feature h3:nth-child(n+1) {

    display: flex;
    margin-top: 30px;
}

.about_feature p {

    margin-top: 20px;
} */


/* about quote */

.about_quote {

    /* background: #dadffd; */
    color: #14253f;
    margin-top: 5%;
    border-radius: 3.125rem;
}

.about_quote p {

    display: flex;
    justify-content: center;
    font-size: 2.1875rem;
    padding: 3.125rem 6.25rem 3.125rem 6.25rem;
}

.about_quote i {

    font-size: 3.125rem;
    color: tomato;
}

/* mission */

.mission {

    margin-top: 5%;
}

.mission h5 {

    font-size: 3.4375rem;
    color: rgb(65, 65, 65);
    font-family: 'Anton', sans-serif;


}

.mission p {

    font-family: 'Roboto Condensed', sans-serif;
    color: #414141;
    font-size: 1.25rem;
}

.mission i {

    font-size: 3.125rem;
    color: tomato;
}

/* vission */

.vision {

    margin-top: 5%;
    margin-bottom: 5%;
}

.vision h5 {

    font-size: 3.4375rem;
    color: rgb(65, 65, 65);
    font-family: 'Anton', sans-serif;


}

.vision p {

    font-family: 'Roboto Condensed', sans-serif;
    color: #414141;
    font-size: 1.25rem;
}

.vision img {

    margin-top: 12%;
}

.vision ul {

    padding: 0;
    margin-left: 1.25rem;
}

.vision ul li {

    margin-bottom: 0.9375rem;
}

/* about page end */



/* media queries */


@media only screen and (min-width: 1300px) {

    .services {

        margin-top: 110vh;
    }

    .top img {

        margin-left: 4.7em;
    }

    .image_note {

        display: none;
    }
}



@media only screen and (max-width: 1299px) {

    .top img {

        margin-left: 1.5em;
    }

    .services {

        margin-top: 110vh;
    }
}


@media only screen and (max-width: 1024px) {}


@media only screen and (max-width: 768px) {

    .services {

        margin-top: 110vh;
    }

    .flip-card-front img {

        width: 360px;
        height: 27.7vh;


    }

    .flip-card {

        width: 360px;
        height: 27.7vh;
        height: 27.7vh;

    }

    .legal .legal_card {

        margin-top: 4%;
    }

    .top img {

        margin-left: 150px;
    }

    .project_details {

        padding: 0;
    }

    .projects img {

        padding: 3.125rem 5rem 5rem 5rem;
        height: 30em;
    }

    .top img {

        margin-left: 1.25rem;
    }

    .top {

        background-color: #ffc107;
    }

    .top .navbar-collapse {

        background-color: #ffc107;
    }

    .legal .col-6 {

        padding: 0.9375rem;
    }

    .last_card {

        padding: 0.625rem;
    }




}

@media only screen and (max-width: 480px) {

    .services {

        margin-top: 110vh;
    }

    .services_card {
        width: 80%;
    }

    .top {

        background-color: #ffc107;
    }

    .top img {

        margin: 0;
    }

    .header h3 {
        font-size: 2.1875rem;
        display: inline;
    }

    .header h3 span {

        margin: 0;
    }

    .quote {

        margin-top: 280px;
    }

    .projects img {

        width: 100%;
        height: 55vh;
        padding: 3.125rem;
        object-fit: cover;
    }

    .project_details {

        padding: 0 0 4.375rem 0;
    }

    .project_details h2 {

        display: flex;

    }

    .project_details .row {

        display: flex;
        text-align: left;
        /* width: 300px; */
    }

    .legal .row .col-md-4 {

        margin-top: 40px;
    }

    .flip-card-front img {

        width: 87vw;
        height: 30vh;
        margin: 0;
        padding: 0;

    }

    .flip-card {

        width: 87vw;
        height: 30vh;
        margin: 0;
        padding: 0;

    }

    .imp_certificate img {

        margin-top: 40px;
        height: 70vh;
    }

    .footer_para {

        width: 100%;
    }

    .services h3 span {

        background-color: #ffc107;
        width: 100%;
        display: flex;
        justify-content: center;
        color: white;
    }

    .project_title span {
        width: 100%;
        display: flex;
        justify-content: center;
        color: white;

    }

    .legal h3 span {

        background-color: #ffc107;
        width: 100%;
        display: flex;
        justify-content: center;
        color: white;
    }

    .staff h3 span {
        background-color: #ffc107;
        width: 100%;
        display: flex;
        justify-content: center;
        color: white;
    }

    .team_members h3 span {

        background-color: #ffc107;
        width: 100%;
        display: flex;
        justify-content: center;
        color: white;
    }

    .top span i {

        font-size: 1.875rem;
    }

    .top .navbar-collapse {

        background-color: #ffc107;
    }

    .safety_detail {

        margin-bottom: 6.25rem;
    }

    .legal {

        margin-bottom: 6.25rem;
    }

    .header_content p {

        width: 100%;
    }

    .mission img {

        display: none;
    }

    .vision img {

        display: none;
    }

    .staff img {

        height: 600px;
    }

    .equipments {

        margin-top: 65vh;
    }

    .equipment_header h3 {

        font-size: 2.1875rem;
        display: inline;
    }

    .equipments th {

        width: fit-content;
        font-size: 0.625rem;
    }

    .equipments td {

        width: fit-content;
        font-size: 0.625rem;
    }

    #equ1_h img {

        height: 3.125rem;
    }

    .services_in {

        margin-top: 70vh
    }

    .services_in .double span {

        background-color: #ffc107;
        width: 100%;
        display: flex;
        justify-content: center;
        color: white;
        font-size: 1.875rem;

    }

    .serve_header h3 {

        font-size: 40px;
    }

    .contact_header h3 {

        font-size: 40px;
    }

    .header_content h3 {

        font-size: 40px;
    }

    .about h5 {

        font-size: 2.1875rem;
    }

    .about_detail h3 {

        font-size: 2.1875rem;
    }

    .mission h5 {

        font-size: 2.1875rem;
    }

    .vision h5 {

        font-size: 2.1875rem;
    }

    .staff h3 {

        font-size: 1.875rem;
    }

    .team_members h3 {
        font-size: 1.875rem;
    }

    #equ1_h {
        display: none;
    }

    #equ {

        display: none;
    }

    .safety_detail h3 {

        font-size: 2.1875rem;
    }

    .project_details {

        margin-bottom: 5rem;
        padding: 0 0 0 3.125rem;

    }

    .projects {

        height: 120vh;
        background-color: #06062f;
    }

    .project_details h2 {

        font-size: 1.875rem;
    }

    .image_note {

        font-size: 0.5rem;
        color: darkgrey;
    }

    .image_note span {

        color: red;
    }

    .service_content img {

        height: 50vh;
    }

    .contact iframe {

        height: 40vh;
    }

    .quote {

        font-size: 1.3em;
    }

    .services_card img {

        height: 31.5vh !important;
    }

    .services_card h4 {

        height: 3.75rem;
    }




}

@media only screen and (max-width: 420px) {


    .equipments th {

        width: fit-content;
        font-size: 0.5rem;
    }

    .equipments td {

        width: fit-content;
        font-size: 0.5rem;
    }

}

@media only screen and (max-width: 375px) {

    .imp_certificate img {

        margin-top: 40px;
        height: 55vh;
    }

    .flip-card-front img {

        width: 87vw;
        height: 27vh;
        margin: 0;
        padding: 0;

    }

    .flip-card {

        width: 87vw;
        height: 27vh;
        margin: 0;
        padding: 0;

    }

    .projects img {

        width: 100%;
        height: 42vh;
        padding: 3.125rem;
        object-fit: cover;
    }

    .equipments th {

        width: fit-content;
        font-size: 0.5rem;
    }

    .equipments td {

        width: fit-content;
        font-size: 0.4rem;
    }

    .service_content img {

        height: 40vh;
    }

}

@media only screen and (max-width: 320px) {

    .projects {

        height: 150vh;
    }
}